h1{
  font-size: 10vh;
  text-align: center;
}
span{
  font-size: 5vh;
  display: flex;
  justify-content: center;
}
.add{
  background-color: white;
  border: none;
  box-shadow: 0 0 4px grey;
  margin: 2vh;
  width: 7vh;
  height: 5vh;
  cursor: pointer;
}
.reset{
  background-color: white;
  border: none;
  box-shadow: 0 0 4px grey;
  margin: 2vh;
  width: 7vh;
  height: 5vh;
  cursor: pointer;
}
.sub{
  background-color: white;
  border: none;
  box-shadow: 0 0 4px grey;
  margin: 2vh;
  width: 7vh;
  height: 5vh;
  cursor: pointer;
}
.flex{
  display: flex;
  justify-content: center;
}